{% extends "/Admin/layout1.html" %}
{% block body %}
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa fa-bars"></i> Pages</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
              <li><i class="fa fa-bars"></i>Add New Subject</li>
             
            </ol>
          </div>
        </div>
        <!-- page start-->
	
  <section class="panel">
              <header class="panel-heading">
                Horizontal Forms
              </header>
              <div class="panel-body">
			  {% if session.loggedin %}
                <form class="form-validate form-horizontal" method="POST" id="feedback_form"  role="form">
                 <div class="form-group">
                    <label class="col-sm-2 control-label">Subject Name<span class="required">*</span></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Enter a Subject Name" required>
                    </div>
                  </div>
				   <div class="form-group">
                    <label class="col-sm-2 control-label">Subject Id<span class="required">*</span></label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" placeholder="Enter a Subject Id" required>
                    </div>
                  </div>
				  
				      <div class="form-group">
                    <label class="control-label col-lg-2" for="inputSuccess">For Semester<span class="required">*</span></label>
                    <div class="col-lg-10">
					
                      <select  class="form-control m-bot15" required>

											 <option value="">Select</option>
                                              <option value="1">1</option>
                                              <option value="2">2</option>
                                              <option value="3">3</option>
                                              <option value="4">4</option>
                                              <option value="5">5</option>
											  <option value="6">6</option>
											  <option value="7">7</option>
											  <option value="8">8</option>
                                          </select>

                    </div>
                  </div>
				  
				    <div class="form-group">
                    <label class="control-label col-lg-2" for="inputSuccess">Professor Id<span class="required">*</span></label>
                    <div class="col-lg-10">
                      <select name="car_brand" data-live-search="true" id="car_brand" class="form-control m-bot15" title="Select Car Brand"> 
                    {% for row in carbrands %}
                    <option value="{{row.Tid}}">{{row.Tid}}</option>
                    {% endfor %}
                    </select>

                    </div>
                  </div>
				       <div class="form-group">
                    <label class="control-label col-lg-2" for="inputSuccess">Professor Email<span class="required">*</span></label>
                    <div class="col-lg-10">
                      <select name="car_models" data-live-search="true" id="car_models" class="form-control" title="Select Car Model"> </select>

                    </div>
                  </div>
				      <div class="form-group">
                    <label class="control-label col-lg-2" for="inputSuccess">Professor Name<span class="required">*</span></label>
                    <div class="col-lg-10">
					<select name="car_model" data-live-search="true" id="car_model" class="form-control" title="Select Car Model"> </select>

                    </div>
                  </div>
               
                
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button type="submit" class="btn btn-danger">Submit</button>
                    </div>
                  </div>
                </form>{% endif %}
              </div>
            </section>
        <!-- page end-->
      </section>
    </section>
    <!--main content end-->
    <div class="text-right">
      <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version form: https://bootstrapmade.com/buy/?theme=NiceAdmin
          -->

        </div>
    </div>
  </section>
  <!-- container section end -->
  <!-- javascripts -->
  <script src="{{ url_for('static',filename='subject/jquery.js')}}"></script>
  <script src="{{ url_for('static',filename='subject/bootstrap-select.min.js')}}"></script>
  <script src="{{ url_for('static',filename='subject/bootstrap.min.js')}}"></script>

  <script>
            $(document).ready(function () {
                $("#car_brand").selectpicker();
   
                $("#car_models").selectpicker();
				
				$("#car_model").selectpicker();
   
                function load_data(type, category_id) {
                    $.ajax({
                        url: "/carbrand",
                        method: "POST",
                        data: { type: type, category_id: category_id },
                        dataType: "json",
                        success: function (data) { //alert(category_id)
                            var html = "";
							var html1 = "";
                            for (var count = 0; count < data.length; count++) {
                                html += '<option value="' + data[count].Tid + '">' + data[count].name +"</option>";
								
								
								
                            }
							  for (var count = 0; count < data.length; count++) {
                                html1 += '<option value="' + data[count].email + '">' + data[count].email +"</option>";
								
								
								
                            }
                            if (type == "carData") {
                                $("#car_brand").html(html);
                                $("#car_brand").selectpicker("refresh");
                            } else  {
                                $("#car_models").html(html);
                                $("#car_models").selectpicker("refresh");
								$("#car_model").html(html1);
                                $("#car_model").selectpicker("refresh");
                            }
							
							
                        },
                    });
                }
   
                $(document).on("change", "#car_brand", function () {
                    var category_id = $("#car_brand").val();
                    load_data("carModeldata", category_id);
                });
            });
        </script>
  


</body>

</html>
{% endblock %}
